// Grid Layout
$columns:12;
// Screen Sizes
$xs-width: 0;
$sm-width: 480px;
$md-width: 768px;
$lg-width: 1200px;
$xl-width: 1400px;

// Postion
.absolute {
 position: absolute;
}

.relative {
 position: relative;
}

.fixed {
 position: fixed;
}

.top {
 top: 0;
}

.bottom {
 bottom: 0;
}

.right {
 right: 0;

}

.left {
 left: 0;
}

// Flex
.flex {
 display: flex !important;
}

.justify-center {
 display: flex;
 justify-content: center;
}

.justify-items-center {
 display: flex;
 justify-items: center;
}

.justify-items-end {
 display: flex;
 justify-items: end;
}

.justify-items-start {
 display: flex;
 justify-items: start;
}

.justify-space-evenly {
 display: flex;
 justify-content: space-evenly;
}

.justify-space-between {
 display: flex;
 justify-content: space-between;
}

.justify-space-around {
 display: flex;
 justify-content: space-around;
}

.justify-content-end {
 display: flex;
 justify-content: end;
}

.justify-content-start {
 display: flex;
 justify-content: start;
}

.align-items-center {
 display: flex;
 align-items: center;
}

.align-content-center {
 display: flex;
 align-content: center;
}

.align-items-space-between {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.align-items-space-around {
 display: flex;
 flex-direction: column;
 justify-content: space-around;
}

.align-items-flex-end {
 display: flex;
 align-items: flex-end;
}

.align-items-flex-start {
 display: flex;
 align-items: flex-start;
}


.row {
 display: grid;
 width: 100%;
 margin: 0 auto;
 grid-template-columns: repeat(12, 1fr);
 // grid-column-gap: .5em;
}

.container {
 display: grid;
 width: 100%;
 margin: 0 auto;
 grid-template-columns: repeat (12, 1fr);
 // grid-column-gap: .5em;
}

@for $i from 1 through 100 {
 .height-#{$i} {
  height: $i * 10px;
 }
}

@for $i from 1 through 100 {
 .height-#{$i}-5 {
  height: ($i + .5)* 10px;
 }
}

@for $i from 1 through $columns {
 .col-#{$i} {
  grid-column: span $i;

 }
}

@for $i from 1 through $columns {

 .col-sm-#{$i} {

  @media(min-width: $xs-width) and (max-width: $sm-width) {
   grid-column: span $i;
  }

 }

}

@for $i from 1 through $columns {

 .col-md-#{$i} {

  @media only screen and (min-width: $sm-width) and (max-width: $md-width) {
   grid-column: span $i;
  }

 }

}

@for $i from 1 through $columns {

 .col-lg-#{$i} {

  @media(min-width:$md-width) and (max-width: $lg-width) {
   grid-column: span $i;
  }

 }

}

@for $i from 1 through $columns {

 .col-xxl-#{$i} {

  @media(min-width:$xl-width) {
   grid-column: span $i;
  }

 }

}

@for $i from 1 through $columns {

 .col-xl-#{$i} {

  @media(min-width:$lg-width) and (max-width:$xl-width) {
   grid-column: span $i;
  }

 }

}